<div class="authform">
<%= form_for @recipe, html: {role: "form"} do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :short_desc %>
    <%= f.text_field :short_desc , class: "form-control"%>
  </div>

   <div class="form-group">
    <%= f.label :desc %>
    <%= f.text_area :desc , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :ingredients %>
    <%= f.text_area :ingredients , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.text_field :category , class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :cuisine %>
    <%= f.select :cuisine,  options_for_select(["American","Asian","Chinese","French","Indian","Italian","Japanese","Mexican","Other","Spanish",], "Other") , {}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :dish_type %>
    <%= f.select :dish_type, options_for_select(["Appetizer","Dessert","Drink","Main Course","Other",], "Other") , {}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.select(:price, options_for_select(["Cheap","Average","Expensive",], "Average"), {}, { class: 'form-control' }) %>
  </div>
  <div class="form-group">
    <%= f.label :difficult %>
    <%= f.select :difficult, options_for_select(["Low","Medium","Hard",], "Medium") , {},class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :time %>
    <%= f.number_field :time, placeholder:"Minutes" , class: "form-control"%>
  </div>

  <label class="checkbox-inline">
    <%= f.check_box :gluten_free %> 
    <%= f.label :gluten_free %>
  </label>
  <label class="checkbox-inline">
    <%= f.check_box :high_prot %>
    <%= f.label :high_prot %>
  </label>
  <label class="checkbox-inline">
    <%= f.check_box :vegetarian %>
    <%= f.label :vegetarian %>
  </label>
  <label class="checkbox-inline">
    <%= f.check_box :vegan %>
    <%= f.label :vegan %>
  </label>

  <div class="form-group">
    <%= f.label :avatar, class: 'form-control-label'  %>
    <canvas role="avatar-preview" width="300" height="300" id="canvas" > </canvas>
    <%= f.file_field :avatar, id: "input" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
<script type="text/javascript">
  Utils.preview(
    document.getElementById('input'), 
    document.getElementById('canvas'),
    "<%= @recipe.avatar.url(:medium) %> ");
</script>
